body {
	background-color: #fff;
	padding: 20px;
}

h1 {
	color: #e02929;

}

h2 {
	font-size: 32px;
}

#title {
	margin-top: 40px;
	font-size: 64px;
	color: #e02929;
}

#buttonRow {
	margin-top: 100px;
}

#begin {
	font-size: 30px;
	padding: 10px;
}

#hmimage {
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 55%;
    height: auto;
    padding: 0px;
}

#user-text {
	visibility: hidden;
}

#hiddenLettersArray {
	font-size: 64px;
}

#HangManMessage {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 0;
	color: #aaa;
	font-size: 54px;
	padding: 20px;
}

#hiddenLettersArray {
	margin-top: 0;
	margin-bottom: 10px;
	position: relative;
	top: -20px;
}

#remainingIncorrectGuesses {
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#remainingGuesses {
	padding: 10px;
	font-size: 32px;
	margin-top: 0px;
}

#incorrectGuesses {
	margin-top: 30px;
}

